@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css"    
@import "./_variables.sass"

body 
    margin: 0
    overflow-x: hidden
// titre logo
.titre_logo
    display: flex
    align-items: center
    justify-content: center
    height: 200px  
    img 
        width: 165px 
// navbar
.nav_bar 
    display: flex
    

    ul 
        flex: 10
        display: flex
        justify-content: space-around
        margin-left: 150px   
        margin-right:  150px 
        padding-top: 20px  
        padding-bottom: 20px  
        li 
            list-style: none
            a
                color: grey 
                text-decoration: none
                font-size: 17px  
            .nav_home
                color: black 
    .espace
        flex: 4
        display: flex
        align-items: center
        .mode_couleur
            display: flex
            flex: 1
            justify-content: flex-end
            margin-right: 30px 
            .mode_white 
                margin: 5px
                width: 15px
                height: 15px  
                border: 1px black solid
                background-color: white
            .mode_black 
                margin: 5px
                width: 15px
                height: 15px 
                border: 1px black solid
                background-color: black
// boutton de connexion
.button_connexion
    flex: 1
    background-color: #303030
    color: white 
    width: 100px  
    height: 40px   
    margin-right: 50px 
    border: none
    border-radius: 5px 

// main
.div_main
    background-color: rgb(243,243,243) 
    .div_main_colGauche_p1
        color: #bd584e 
        font-size: 20px 

    


 
 