@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css"    
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" 

@import "./import/_blackMode.sass"
@import "./import/_modalConnexion.sass"


@import 'https://fonts.googleapis.com/css?family=Poppins&display=swap'
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'

body     
    margin: 0           
    font-family: 'Poppins', sans-serif   
   
// titre logo   
.titre_logo     
    display: flex
    align-items: center 
    justify-content: center 
    height: 200px 

    img       
        width: 165px 
// navbar  

.nav_bar          
    display: flex   
    background-color: white    
    ul 
        flex: 10
        display: flex
        justify-content: space-around
        margin-left: 150px   
        margin-right:  150px 
        padding-top: 20px  
        padding-bottom: 20px  
        li 
            list-style: none
            a    
                color: grey 
                text-decoration: none
                font-size: 17px  
                &:hover 
                    color: black
            .nav_home
                color: black 
    .espace
        flex: 4
        display: flex
        align-items: center
        .mode_couleur
            display: flex
            flex: 1
            justify-content: flex-end
            margin-right: 30px 
            .mode_white 
                margin: 5px
                width: 15px
                height: 15px  
                border: 1px black solid
                background-color: white
            .mode_black 
                margin: 5px
                width: 15px
                height: 15px 
                border: 1px white solid
                background-color: black
// boutton de connexion
.button_connexion
    flex: 1
    background-color: #303030
    color: white 
    width: 100px  
    height: 40px   
    margin-right: 50px 
    border: none
    border-radius: 5px 

// main
.div_main
    background-color: rgb(243,243,243)
    .div_main_colGauche
        padding-left: 70px   
        display: flex
        flex-direction: column
        justify-content: center
        .div_main_colGauche_p1
            color: #bd584e 
            font-size: 40px   
        .div_main_colGauche_p2
            font-size: 90px  
            color: black 
            font-weight: bold
        .div_main_colGauche_p3
            font-size: 15px 
            color: #909090
        button
            font-size: 15px 
            background-color: #bd584e  
            font-weight: bold
            font-family: 'Source Sans Pro', sans-serif
            color: white
            border: none  
            width: 180px     
            padding: 20px 
            border-radius: 40px 
            margin-top: 30px   
    .div_main_colDroite
        img 
            width: 550px 

////////////////////////////////////////////////////////////
// section 1
.section1_service
    display: flex 
    justify-content: center
    align-items: center
    div
        display: flex
        justify-content: center
        align-items: center
 
    a 
        text-decoration: none
        color: white
        font-size: 25px   
        font-weight: bold
        border-bottom: 1px white solid

    .image_form_s1    
        background-size: cover
        background-position: center 
        background-repeat: no-repeat 
        width: 380px 
        height: 266px 

    .section1_service_1
        background-image: url("../../images/services/service-1.jpg")
         
    .section1_service_2
        background-image: url("../../images/services/service-2.jpg")  
    .section1_service_3
        background-image: url("../../images/services/slider-3.jpg")

///////////////////////////////////////////////////////////////////
// section 2
.petit_titre
    display: flex
    justify-content: center
    font-size: 23px 
    font-weight: 700  
#section_2
    a 
        font-weight: bold
        font-size: 23px  
        text-decoration: none
        color: #191919  
    .petit_titre
        display: flex
        justify-content: center 
        h1 
            font-weight: bold
            font-size: 29px  
            color: #383838
    .row
        text-align: center
    img
        width: 354px      
        height: 278px     
    .icon_sale_position
        justify-content: flex-end!important 
    .icon_sale
        color: white
        background-color: #bd584e
        border-radius: 50%
        font-size: 13px
        font-weight: 600
        line-height: 48px
        width: 48px
        padding: 2px 0 0
        height: 48px
    .prix
        color: #bd584e 
        font-weight: bold
        .prix_old_price
            color: grey

 
////////////////////////////////////////////////
// section 3 
.section_3
    background-image: url(../../images/cta-bg.jpg)
    background-size: cover
    background-position: center
    background-attachment: fixed    
    height: 709px 
    display: flex
    align-items: center
    justify-content: center

    div
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        h1 
            font-weight: bold
            color: white 
        button
            font-size: 15px 
            background-color: #bd584e  
            font-weight: bold
            font-family: 'Source Sans Pro', sans-serif
            color: white
            border: none  
            width: 180px     
            padding: 17px  
            border-radius: 40px  
            margin-top: 30px 

/////////////////////////////////////////////////////////////
// section 4
#section_4
    display: flex
    
    img
        width: 100px 

///////////////////////////////////////////:
// section 5 
#section_5
    text-align: center
    i 
        font-size: 40px 
        margin-bottom: 40px    
    h1 
        font-size: 20px 
        font-weight: 700 
        margin-bottom: 40px   
    p 
        width: 200px    
    .section_5_div_exte
        width: 90% 
        display: flex
        flex-direction: column 
        justify-content: center  
        align-items: center
        height: 550px
        background-color: #f3f3f3
        button 
            padding: 10px 20px 
            color: white 
            border: none
            background-color: #303030 
            border-radius: 5px 
            font-family: 'Source Sans Pro', sans-serif
            font-size: bold 
         
    .section_5_div_inte
        width: 90%  
        display: flex
        flex-direction: column     
        justify-content: center 
        align-items: center
        height: 550px 
        background-color: #bd584e
        color: white     
        button 
            padding: 10px 20px 
            color: #303030  
            border: none
            background-color: white 
            border-radius: 5px 
            font-family: 'Source Sans Pro', sans-serif
            font-size: bold 


//////////////////////////////////////////////////////////////
// footer partie haute
footer 
    font-family: 'Source Sans Pro', sans-serif
.footer_haut
    color: #969696
    background-color: #212121
    font-size: 15px 
    padding-top: 20px  
    line-height: 30px 
    
    padding-top: 50px 
    padding-bottom: 50px  
    margin-top: 50px 
    h4 
        font-family: 'Poppins', sans-serif   
        color: white 
        font-weight: bold          
        font-size: 15px 
        margin-bottom: 40px   
    .footer_haut_div1 
        width: 80%  
 
    .footer_haut_div2
        border-right: 1px solid #4b4b4b
        border-left: 1px solid #4b4b4b 
        padding-left: 50px 
        padding-right: 50px  
        span:hover  
            transition: 1s  
            color: white  
        hr 
            border: 1px solid #4b4b4b
    .footer_haut_div3  
        width: 80% 
        span 
            padding: 10px 
            border: 1px solid #4b4b4b  
            line-height: 50px        
            margin-right: 8px
        span:hover
            transition: 1s 
            color: white    
 

// footer partie basse 
.footer_bas
    display: flex
    justify-content: center 
    align-items: center
    background-color: black 
    padding: 50px 
    h1 
        color: #757575 
        font-size: 14px  
        font-weight: bold 




/**********************************************
    */

/* Style the navbar links */
.sticky 
    position: fixed
    top: 0
    width: 100%
    z-index: 3
.imgNav
    position: absolute  
    z-index: 4



       











    


 
 