@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../../node_modules/@fortawesome/fontawesome-free/css/all.min.css);
@import 'https://fonts.googleapis.com/css?family=Poppins&display=swap';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap';
.mode_night .blackkk {
  background-image: linear-gradient(to top, #808080, #747474, #686868, #5c5c5c, #505050, #464646, #3c3c3c, #323232, #272727, #1c1c1c, #111111, #000000); }
.mode_night .nav_bar {
  background-image: linear-gradient(to top, #808080, #747474, #686868, #5c5c5c); }
  .mode_night .nav_bar .nav_home {
    color: white; }
  .mode_night .nav_bar a {
    color: #9c9c9c; }
  .mode_night .nav_bar a:hover {
    transition: 1s;
    color: white;
    font-size: 17px; }
.mode_night .button_connexion {
  color: #303030;
  background-color: #b6b6b6; }
.mode_night .div_main {
  background-image: linear-gradient(to bottom, #808080, #747474, #686868, #5c5c5c, #505050, #464646, #3c3c3c, #323232, #272727, #1c1c1c, #111111, #000000); }
.mode_night .s1_black {
  background-color: #000; }
.mode_night #section_2 {
  background-color: #000; }
  .mode_night #section_2 h1 {
    color: #e9e9e9; }
  .mode_night #section_2 .nom_black {
    color: #e9e9e9; }
.mode_night .black {
  background-color: black; }
  .mode_night .black .petit_titre h1 {
    color: #e9e9e9; }
  .mode_night .black #section_4 .nom_black {
    color: #e9e9e9; }

/****************************************
 * bouton connexion */
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

/* Modal Content/Box */
.modal-content {
  background-color: #313131;
  color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold; }

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* The Modal (background) */
.modal2 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

/* Modal Content/Box */
.modal-content2 {
  background-color: #313131;
  color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }
  .modal-content2 .modal2_content_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

/* The Close Button */
.close2 {
  color: #aaa;
  font-size: 28px;
  font-weight: bold; }

.close2:hover, .close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* The Modal (background) */
.modal3 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

/* Modal Content/Box */
.modal-content3 {
  background-color: #313131;
  color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; }
  .modal-content3 .modal3_content_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

/* The Close Button */
.close3 {
  color: #aaa;
  font-size: 28px;
  font-weight: bold; }

.close3:hover, .close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

body {
  margin: 0;
  font-family: "Poppins", sans-serif; }

.titre_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px; }
  .titre_logo img {
    width: 165px; }

.nav_bar {
  display: flex;
  background-color: white; }
  .nav_bar ul {
    flex: 10;
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .nav_bar ul li {
      list-style: none; }
      .nav_bar ul li a {
        color: grey;
        text-decoration: none;
        font-size: 17px; }
        .nav_bar ul li a:hover {
          color: black; }
      .nav_bar ul li .nav_home {
        color: black; }
  .nav_bar .espace {
    flex: 4;
    display: flex;
    align-items: center; }
    .nav_bar .espace .mode_couleur {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      margin-right: 30px; }
      .nav_bar .espace .mode_couleur .mode_white {
        margin: 5px;
        width: 15px;
        height: 15px;
        border: 1px black solid;
        background-color: white; }
      .nav_bar .espace .mode_couleur .mode_black {
        margin: 5px;
        width: 15px;
        height: 15px;
        border: 1px white solid;
        background-color: black; }

.button_connexion {
  flex: 1;
  background-color: #303030;
  color: white;
  width: 100px;
  height: 40px;
  margin-right: 50px;
  border: none;
  border-radius: 5px; }

.div_main {
  background-color: #f3f3f3; }
  .div_main .div_main_colGauche {
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .div_main .div_main_colGauche .div_main_colGauche_p1 {
      color: #bd584e;
      font-size: 40px; }
    .div_main .div_main_colGauche .div_main_colGauche_p2 {
      font-size: 90px;
      color: black;
      font-weight: bold; }
    .div_main .div_main_colGauche .div_main_colGauche_p3 {
      font-size: 15px;
      color: #909090; }
    .div_main .div_main_colGauche button {
      font-size: 15px;
      background-color: #bd584e;
      font-weight: bold;
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      border: none;
      width: 180px;
      padding: 20px;
      border-radius: 40px;
      margin-top: 30px; }
  .div_main .div_main_colDroite img {
    width: 550px; }

.section1_service {
  display: flex;
  justify-content: center;
  align-items: center; }
  .section1_service div {
    display: flex;
    justify-content: center;
    align-items: center; }
  .section1_service a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px white solid; }
  .section1_service .image_form_s1 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 380px;
    height: 266px; }
  .section1_service .section1_service_1 {
    background-image: url("../../images/services/service-1.jpg"); }
  .section1_service .section1_service_2 {
    background-image: url("../../images/services/service-2.jpg"); }
  .section1_service .section1_service_3 {
    background-image: url("../../images/services/slider-3.jpg"); }

.petit_titre {
  display: flex;
  justify-content: center;
  font-size: 23px;
  font-weight: 700; }

#section_2 a {
  font-weight: bold;
  font-size: 23px;
  text-decoration: none;
  color: #191919; }
#section_2 .petit_titre {
  display: flex;
  justify-content: center; }
  #section_2 .petit_titre h1 {
    font-weight: bold;
    font-size: 29px;
    color: #383838; }
#section_2 .row {
  text-align: center; }
#section_2 img {
  width: 354px;
  height: 278px; }
#section_2 .icon_sale_position {
  justify-content: flex-end !important; }
#section_2 .icon_sale {
  color: white;
  background-color: #bd584e;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 600;
  line-height: 48px;
  width: 48px;
  padding: 2px 0 0;
  height: 48px; }
#section_2 .prix {
  color: #bd584e;
  font-weight: bold; }
  #section_2 .prix .prix_old_price {
    color: grey; }

.section_3 {
  background-image: url(../../images/cta-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 709px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .section_3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .section_3 div h1 {
      font-weight: bold;
      color: white; }
    .section_3 div button {
      font-size: 15px;
      background-color: #bd584e;
      font-weight: bold;
      font-family: "Source Sans Pro", sans-serif;
      color: white;
      border: none;
      width: 180px;
      padding: 17px;
      border-radius: 40px;
      margin-top: 30px; }

#section_4 {
  display: flex; }
  #section_4 img {
    width: 100px; }

#section_5 {
  text-align: center; }
  #section_5 i {
    font-size: 40px;
    margin-bottom: 40px; }
  #section_5 h1 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px; }
  #section_5 p {
    width: 200px; }
  #section_5 .section_5_div_exte {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: #f3f3f3; }
    #section_5 .section_5_div_exte button {
      padding: 10px 20px;
      color: white;
      border: none;
      background-color: #303030;
      border-radius: 5px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: bold; }
  #section_5 .section_5_div_inte {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    background-color: #bd584e;
    color: white; }
    #section_5 .section_5_div_inte button {
      padding: 10px 20px;
      color: #303030;
      border: none;
      background-color: white;
      border-radius: 5px;
      font-family: "Source Sans Pro", sans-serif;
      font-size: bold; }

footer {
  font-family: "Source Sans Pro", sans-serif; }

.footer_haut {
  color: #969696;
  background-color: #212121;
  font-size: 15px;
  padding-top: 20px;
  line-height: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px; }
  .footer_haut h4 {
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 40px; }
  .footer_haut .footer_haut_div1 {
    width: 80%; }
  .footer_haut .footer_haut_div2 {
    border-right: 1px solid #4b4b4b;
    border-left: 1px solid #4b4b4b;
    padding-left: 50px;
    padding-right: 50px; }
    .footer_haut .footer_haut_div2 span:hover {
      transition: 1s;
      color: white; }
    .footer_haut .footer_haut_div2 hr {
      border: 1px solid #4b4b4b; }
  .footer_haut .footer_haut_div3 {
    width: 80%; }
    .footer_haut .footer_haut_div3 span {
      padding: 10px;
      border: 1px solid #4b4b4b;
      line-height: 50px;
      margin-right: 8px; }
    .footer_haut .footer_haut_div3 span:hover {
      transition: 1s;
      color: white; }

.footer_bas {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 50px; }
  .footer_bas h1 {
    color: #757575;
    font-size: 14px;
    font-weight: bold; }

/**********************************************
 */
/* Style the navbar links */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; }

.imgNav {
  position: absolute;
  z-index: 4; }

/*# sourceMappingURL=style.css.map */
