/*
Error: Invalid property: "background-image:" (no value).
        on line 109 of src/sass/style.sass

104: .section1_service
105:     display: flex
106:     justify-content: center
107:     align-items: center
108:     .section1_service_1
109:         background-image: 
110:     .section1_service_2
111:     .section1_service_3

Backtrace:
src/sass/style.sass:109
/usr/lib/ruby/vendor_ruby/sass/engine.rb:733:in `parse_property'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:692:in `parse_property_or_rule'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:658:in `parse_line'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:536:in `build_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:555:in `block in append_children'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:554:in `each'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:554:in `append_children'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:545:in `block in build_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:538:in `each'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:538:in `build_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:555:in `block in append_children'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:554:in `each'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:554:in `append_children'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:545:in `block in build_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:538:in `each'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:538:in `build_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:555:in `block in append_children'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:554:in `each'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:554:in `append_children'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:409:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:473:in `on_file_changed'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:331:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:115:in `_process_changes'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:19:in `block in loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:42:in `block in setup'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid property: \"background-image:\" (no value).\A         on line 109 of src/sass/style.sass\A \A 104: .section1_service\A 105:     display: flex\A 106:     justify-content: center\A 107:     align-items: center\A 108:     .section1_service_1\A 109:         background-image: \A 110:     .section1_service_2\A 111:     .section1_service_3"; }
